.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20rem;
    min-width: 300px;
    padding-top: 2rem;
    padding-inline: 3rem;
    min-height: 100vh;
    flex-wrap: wrap;

    .backButton {
        background-color: slategray;
    }

    .box {
        text-align: center;
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: .8rem;
        justify-self: center;

        video {
            width: 400px;
            border-radius: 12px;
        }
    }

}


/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width: 600px) {

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-inline: 1rem;
        padding-top: 1.5rem;

        .backButton,

        .box {
            width: 80%;
            align-items: center;

            video {
                width: 80%;
                max-width: 300px;
            }

            h2 {
                font-size: 1.3rem;
            }

            button {
                width: 100%;
                max-width: 300px;
            }
        }
    }
}